.App{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly
}

.part-one, .part-two{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1
}

.part-one{
  border-right-style: solid;
  flex-direction: column;
}